* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-primaty: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Mono', monospace;
    --txt-color: #E1E1E6;

    --hue: 195;
    --primary-color: hsl(var(--hue), 90.8%, 25.5%);
    --bg-even-table: hsla(192, 65%, 11%, 1);
}

body {
    font-size: 1.6rem;
    color: var(--txt-color);
    background-color: #000000;
}

body * {
    font-family: var(--font-primaty);
    color: var(--txt-color);

}

.hide{
    display: none;
}

.sr-only {
    position: absolute;
    width: .1rem;
    height: .1rem;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 112rem;
    width: 90%;
    margin: 0 auto 8.7rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 8.7rem 0;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.search {
    display: flex;
    gap: .8rem;
}

.search input {
    width: clamp(10rem, 52vw, 30.2rem);
    padding: 1.6rem;
    background: var(--bg-even-table);
    border: none;
    border-radius: 5px;
}

.search button {
    display: flex;
    gap: .8rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;

    width: 17rem;
    background-color: var(--primary-color);
    padding: 1.6rem;
    border: none;
    border-radius: .5rem;

    cursor: pointer;
    transition: .2s;
}

.search button:hover {
    filter: brightness(1.1);
    transform: scale(1.01);
}

table {
    width: 100%;
    font-size: 1.4rem;
    font-size: 2rem;
    line-height: 160%;
    color: var(--txt-color);

    border-collapse: collapse;
    border-radius: 1.2rem;
    overflow: hidden;
    outline: 1px solid var(--primary-color);

    box-shadow: 0 0 25rem 0 var(--primary-color);
}

.scroll {
    overflow: auto;
}

table td,
th {
    padding: 1.6rem 4rem;
    text-align: left;
}

table th {
    background: var(--primary-color);
    font-weight: bold;
}

table tr:nth-child(even) {
    background: var(--bg-even-table);
    outline: 1px solid var(--primary-color);
}

td.noUser {
    text-align: center;
}

td.noUser .displayTd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    height: 62rem;
}

.displayTd span {
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    color: #4E5455;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;
    color: #F75A68;

    cursor: pointer;

    transition: 0.2s;
}

td .remove:hover {
    transform: scale(1.1);
}

@media (max-width: 47.938em) {

    .hide{
        display: block;
        padding-top: 2rem;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .search button {
        width: fit-content;
    }

    thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        padding: 4rem;
    }

    table td,
    th {
        width: 100%;
        display: flex;
        padding: 0;
    }

    table th {
        text-align: center;
    }

    td .remove {
        width: 50%;
        border: 1px solid #F75A68;
        border-radius: .4rem;
        padding: 1rem 0;
        margin: 2rem auto 0;
    }

    .noUser {
        background-color: transparent;
    }

    td.noUser .displayTd {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        padding: 5rem 0;
    }
}